<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>960</integer>
		<key>height</key>
		<integer>720</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>frame1</key>
		<dict>
			<key>x</key><integer>0</integer>
			<key>y</key><integer>0</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame2</key>
		<dict>
			<key>x</key><integer>320</integer>
			<key>y</key><integer>0</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame3</key>
		<dict>
			<key>x</key><integer>640</integer>
			<key>y</key><integer>0</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame4</key>
		<dict>
			<key>x</key><integer>0</integer>
			<key>y</key><integer>160</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame5</key>
		<dict>
			<key>x</key><integer>320</integer>
			<key>y</key><integer>160</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
		<key>frame6</key>
		<dict>
			<key>x</key><integer>640</integer>
			<key>y</key><integer>160</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame7</key>
		<dict>
			<key>x</key><integer>0</integer>
			<key>y</key><integer>320</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        <key>frame8</key>
		<dict>
			<key>x</key><integer>320</integer>
			<key>y</key><integer>320</integer>
			<key>width</key><integer>320</integer>
			<key>height</key><integer>160</integer>
			<key>offsetX</key><real>0</real>
			<key>offsetY</key><real>0</real>
			<key>originalWidth</key><integer>320</integer>
			<key>originalHeight</key><integer>160</integer>
		</dict>
        
	</dict>
</dict>
</plist>